html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
}

h1 {
    color: white;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.5);
}

.instructions {
    color: aquamarine;
    margin: 1% 5% 0.5% 0.5%;
    padding-left: 1%;
    line-height: 1.5;
    background-color: rgba(0,0,0,0.5);
    font-size: medium;
}

strong {
    color: white;
    padding-left: 5%;
}

input[type="submit"] {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    margin: 1%;
    border-radius: 1%;
    cursor: pointer;
    padding: 0.5% 1%;
}

input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 1);
}

label {
    color: white;
}

.messages {
    list-style-type: none;
    color: plum;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: large;
    color: white;
    font-weight: bold;
}

a:hover {
    color: aquamarine;
}