{% load static %}
<link rel="stylesheet" href="{% static 'polls/style_base.css' %}">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

<div class="base-content">
    {% if user.is_authenticated %}
        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
        <h1>
            KU Polls | Welcome back, {{ user.username }}
            <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">(Logout here)</a>
        </h1>
    {% else %}
        <form id="login-form" action="{% url 'login' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
        <h1>
            KU Polls | Please login to vote
            <a href="#" onclick="document.getElementById('login-form').submit(); return false;">(Back to login here)</a>
        </h1>
    {% endif %}
</div>