{% include 'polls/base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'polls/style_index.css' %}">

{% if latest_question_list %}
    <ul style="list-style-type: none;">
        {% for question in latest_question_list %}
            <li>
                <fieldset>
                    {% if question.is_closed %}
                        <span>{{ question.question_text }} (Closed)</span>
                    {%  else %}
                        <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }} (Open)</a>
                    {% endif %}
                    <form action="{% url 'polls:results' question.id %}" method="get" class="result">
                        <input type="submit" value="Results"/>
                    </form>
                </fieldset>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}