html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    color: white;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.5);
}

body {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
}

input[type="submit"] {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    margin: 1%;
    border-radius: 1%;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 1);
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style-type: none;
}