html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

li a {
    color: white;
    padding: 1%;
}

h1 {
    color: white;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.5);
}

h2 {
    color: white;
}

body {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
}

input[type="submit"] {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    margin: 1%;
    border-radius: 1%;
    cursor: pointer;
    padding: 0.5% 1%;
}

input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 1);
}

label {
    color: white;
}

.messages {
    color: plum;
    font-weight: bold;
}

fieldset {
    border: solid plum;
    background-color: rgba(0,0,0,0.2);
}

.inline-form {
    display: inline;
}

.inline-form input[type="submit"] {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    margin: 1%;
    border-radius: 1%;
    cursor: pointer;
    padding: 0.5% 1%;
}

.inline-form input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 1);
}