html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
}

table {
    width: 100%;
    table-layout: fixed;
}

tr {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

td {
    padding: 1%;
}

td.choice-text {
    width: 90%;
}

td.choice-votes {
    width: 10%;
}

.choice-votes {
    background-color: rgba(0, 0, 0, 1);
}

h1 {
    color: white;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.5);
}

h2 {
    color: white;
}

input[type="submit"] {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    margin: 1%;
    border-radius: 1%;
    cursor: pointer;
    padding: 0.5% 1%;
}

input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 1);
}

.messages {
    color: aquamarine;
    font-weight: bold;
}

fieldset {
    border: solid aquamarine;
    background-color: rgba(0,0,0,0.2);
}

.inline-form {
    display: inline;
}

.inline-form input[type="submit"] {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    margin: 1%;
    border-radius: 1%;
    cursor: pointer;
    padding: 0.5% 1%;
}

.inline-form input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 1);
}