{% load static %}
<link rel="stylesheet" href="{% static 'registration/style_login.css' %}">

<html>
    <body>
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Login" />
            <input type="hidden" name="next" value="{{next}}"/>
        </form>
        <form action="{% url 'signup' %}" method="get">
            <input type="submit" value="Signup" />
        </form>
    </body>
</html>